/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');

/* End Fonts */
/* Start Global rules */

* {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-weight: bold;
}

body {
    background-color: #a1a1a1;
}

/*largest div overlaid on top of background {*/
/*    background-color: #232246;*/
/*}*/

.form-control {
    width: 250px;
    height: 50px;
    margin-top: 2px;
    padding: 5px;
    font-size: 16px;
    color: #f7f9fb;
    /*outline: none;*/
    /*border: none;*/
}

label {
    font-size: 16px;
}

.btn {
    background: #21130d;
    width: 250px !important;
    height: 50px;
    color: #f7f9fb;
    font-size: 16px;
}

.navbar {
    background-color: #f7f9fb;
}